<mat-toolbar color="primary" fxLayoutAlign="center center">New Team</mat-toolbar>

<div mat-dialog-content id="pb-0">
  <form [formGroup]="teamForm">
    <div fxLayout="column">
      <mat-form-field fxFlex="stretch">
        <mat-label>Select Manager</mat-label>
        <mat-select formControlName="manager">
          <mat-option *ngFor="let manager of managers" [value]="manager.id">{{ manager.name | titlecase}}</mat-option>
        </mat-select>
        <mat-error *ngIf="teamForm.get('manager')?.invalid && teamForm.get('manager')?.touched">
          Please select a Manager.
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="stretch">
        <mat-label>Select Developer</mat-label>
        <mat-select formControlName="developer">
          <mat-option *ngFor="let developer of unmappedDevelopers" [value]="developer.id">{{ developer.name |
            titlecase}}</mat-option>
        </mat-select>
        <mat-error *ngIf="teamForm.get('developer')?.invalid && teamForm.get('developer')?.touched">
          Please select a Developer.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>


<div mat-dialog-actions fxLayoutAlign="center center">
  <button mat-raised-button color="primary" [disabled]="teamForm.invalid" (click)="addTeam()">Add</button>
  <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
</div>